@font-face {
    font-family: "FiraCode Nerd Font";
    src: url("asset/FiraCodeNerdFontPropo-Retina.ttf") format("truetype");
}

@import "./nt.scss";

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 528px;
    width: 1366px;
}

.spacer {
    flex: 1;
}

html {
    transform-origin: top left;
    // transform: scale(0.65) rotate(30deg);
    background-color: black;
}

body {
    transform-origin: center;
}

* {
    font-family: "FiraCode Nerd Font";
    color: #ebdbb2;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #282828;
    height: 100%;
    overflow-y: scroll;
}

main {
    display: grid;
    min-height: 528px;
    grid-template:
        "cam thermal swerve" 240px
        "cam thermal empty" 245px
        "menu menu menu" 43px
        / 647px auto 240px;
}

#menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    background-color: #3c3836;
}

#fieldrelative {
    background-color: #1d2021;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0 6px 6px;
    padding: 3px 0 3px 6px;
    border-radius: 5px;
}

#fieldrelative.active {
    background-color: #458588;
}

#fieldrelative .text {
    flex: 1;
    display: inline;
    text-align: center;
}

#fieldrelative .indicator {
    width: calc(1rem + 12px);
    display: inline;
    text-align: center;
}

#autonomous-selector {
    display: flex;
    flex-direction: row;
}

#autonomous-selector div {
    cursor: pointer;
    margin: 6px 0 6px 3px;
    padding: 3px 6px;
    background-color: #504945;

    &:first-of-type {
        border-radius: 5px 0 0 5px;
    }
    &:last-of-type {
        border-radius: 0 5px 5px 0;
    }
    &:hover {
        background-color: #665c54;
    }
}

#autonomous-angle {
    display: flex;
    flex-direction: row;
    margin: 6px;
    background-color: #504945;
    border-radius: 5px;

    * {
        margin: 0;
        display: block;
        border: none;
        background: none;
        padding: 3px;
    }
    input {
        -moz-appearance: textfield;
        width: 3rem;
        text-align: center;
        background: #7c6f64;
        border-radius: 4px;
        margin: 3px;
    }
    button {
        cursor: pointer;
        &:hover {
            background-color: #665c54;
        }
    }
    div {
        color: #a89984;
    }
}

#git {
    display: flex;
    flex-direction: row;
    margin: 6px 3px 6px 0;

    & > div {
        display: inline-block;
        padding: 3px 6px;
        vertical-align: center;
        background-color: #282828;
        margin-right: 3px;

        &:first-of-type {
            border-radius: 5px 0 0 5px;
        }
        &:last-of-type {
            border-radius: 0 5px 5px 0;
        }
    }
}

.swerve {
    grid-area: swerve;
    background: #3c3836;
    position: relative;

    &-actual,
    &-desired {
        width: 240px;
        height: 240px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-desired {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wheel {
        height: 80px;
        width: 80px;
    }
}

#camera {
    grid-area: cam;
    height: 100%;
    width: 100%;
    &-error {
        grid-area: cam;
        background-image: url("asset/doh.png");
        background-size: contain;
        height: 100%;
        width: 100%;
    }
}

#thermal {
    grid-area: thermal;
    height: 100%;
    margin: 1rem;

    &-title {
        background-color: #3c3836;
    }

    &-content {
        overflow-y: scroll;
        max-height: 100%;
        & > div {
            border-top: 2px solid #3c3836;
            display: flex;
            flex-direction: row;
            & > .thermal-name {
                flex: 1;
            }
            & > .thermal-value {
                width: 2rem;
            }
        }
    }
}

#auto-mode {
    position: fixed;
    font-size: 10rem;
    z-index: 100000;
}
